/* .container{
    margin-top:15% ;
    margin-left: 40%;
}
table {
  table-layout: fixed ;
  width: 100% ;
  text-align: left;
}

td{
    
  width: 25%;  
} */
h1{
    
    margin-left:27%;
}
input{
    margin-top: 7%;
    margin-left:37%;
    margin-bottom: 15%;
    margin-right: 5%;
}